body{


    background: #ffffff;
    color: #000000;
    font-family: sans-serif;
    font-size:15px;
   }
#wrapper{
    background: #0dff00;
    width: 1100px;
    margin: 20px auto;
}
#wrapper header{
    background: #95ff00;
    padding: 20px;
}
#wrapper header hgroup{
    float: left;
    color: #ffffff;
}
#wrapper header nav{float: right;
    margin-top: 50px;
}
#wrapper header nav ul{
    padding: 0;
    margin: 0;
}
#wrapper header nav ul li{
    float: left;
    list-style: none;
}
#wrapper header nav ul li a{
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
}
.clear{
    clear: both;
}
footer{
    background: #95ff00;
    padding: 20px;
}
footer a{
    color: #0c0c0c;
    text-decoration: none;
}
section{
    padding: 20px;
}
   